//- Mailing 6: Extend free trial by 7 days
//- Template: SENDGRID_INFORMATIONAL_TEMPLATE_WITH_BUTTON_ID (1 button, 2 bodies)
//- CRON: On the day an organisation's free trial expires and organisation is activated. Sent to all admins of organisation (users need to be 'activated').
//- Add a flag to db. Also to ensure an organisation can only extend its free trial only once.
//- If the plan expires and the flag has already been set: still send the email but now without the offer to extend again.

p!=`Hi ${stakeholder.full_name},`
p Your trial has ended.
p Don’t worry, we saved your Theory of Change.

if(canExtend)
    p
        strong Need more time?
    p Life gets busy and maybe you need more time to play around with Changeroo. Would you like an extra 7 days to test it out? 
    a(
        href=`${process.env.PROTOCOL}${host}/organisations/${organisation.slug}/extend-trial`, 
        aria-label='Extend My Trial'
    ) Extend My Trial

p 
    strong Ready to upgrade?
p Grab your full account and continue to work on your social impact for just 295 Euros for one year (1 Theory of Change).
------------------------------------
p
    strong We would love to hear what you think of Changeroo
span We'd love to hear your thoughts on your trial experience in this
=' '
a(
    href=`https://goo.gl/forms/z7zi3TRrz1f5uXbb2`, 
    aria-label='super quick survey'
) super quick survey
='.'
span It only takes 30 seconds. Your response will help us focus on improving your trial experience and better meet your needs.
p Regards,
span - The Changeroo crew
