//- Mailing 9: Subscription expired
//- Template: SENDGRID_INFORMATIONAL_TEMPLATE_WITH_BUTTON_ID (1 button, 2 bodies)
//- CRON: Organisation has a subscription plan other than a free account, on the day the subscription expires. Organisation does NOT have autorenewal activated. Sends email to all organisation admins (user has to be 'activated').
//- Is een db flag nodig? Lijkt mij niet, of je moet die flag weer resetten wanneer de expiration date van de organisatie wijzigt (zoals bij renewen, upgraden, of als system admin dat direct in organisatie profiel wijzigt).

p!=`Hi ${stakeholder.full_name},`
p
    strong Your subscription has expired.
p
    u The following actions are now unavailable:
    ul
        li View your ToC 
        li Design or make changes to a ToC visualisation
        li Read or edit the narrative
        li Invite stakeholders for feedback
        li Share your creation
        li However, you can still comment on the ToC’s of other organisations

p Don’t worry, your Theories of Change and everything inside your account has been saved. 
p Reactivating your account is easy. 
p Just press the button below and enter your payment information.
p You’ll pick up right where you left off. 
------------------------------------
p
    strong We would love to hear what you think of Changeroo
span We'd love to hear your thoughts on your trial experience in this
=' '
a(
    href=`https://goo.gl/forms/z7zi3TRrz1f5uXbb2`, 
    aria-label=`super quick survey`
) super quick survey
='. '
span It only takes 30 seconds. Your response will help us focus on improving your trial experience and better meet your needs.
p Regards,
span - The Changeroo crew
br
span P.S. We sent you a few emails before your account expired but you might have missed them.
=' '
a(
    href=`${process.env.PROTOCOL}${host}/plans/${organisation.uuid}`,
    aria-label='Renew your Changeroo subscription to reactivate your account.'
) Renew your Changeroo subscription to reactivate your account
='.'
