mixin resetPasswordForm(email, token)
    h2.form__title #{__('views.page-titles.reset-password')}
    form(action=`/auth/reset` method="POST")        
        .form-group
            label(for="password") #{__('views.stakeholder.new-password')}
            input.form-control(type="password" name="password")
        .form-group
            label(for="password_secure") #{__('views.stakeholder.repeat-new-password')}
            input.form-control(type="password" name="password_secure")
        input(type="hidden" value=email name="email")
        input(type="hidden" value=token name="token")
        input(type="hidden" value=csrfToken name="_csrf")
        input.btn.button(type="submit" value=__('views.buttons.reset-password-button'))